.NewRoom-button {
    border-radius: 2px;
    padding: 20px;
}

.NewRoom-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
}

.NewRoom-container {
    align-items: center;
    background-color: #282c34;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.NewRoom-input {
    height: 40px;
    margin: 20px 2px;
    text-align: center;
    width: 80%;
}