.adminScreen-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.adminScreen-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}