.adminScreen-button {
    border-radius: 40vw;
    font-size: 30px;
    height: 80vw;
    width: 80vw;
    text-transform: uppercase;
}

.adminScreen-buttonWrapper {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.adminScreen-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.adminScreen-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}