.buzzerScreen-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-items: flex-start;
}

.buzzerScreen-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
}