.Header-name {
    font-size: smaller;
}

.Header-text {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.Header-title {
    font-size: large;
    font-weight: bolder;
    text-transform: uppercase;
}

.Header-wrapper {
    background-color: #060CE9;
    box-shadow: 0 1px 4px -1px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-shadow: #000000 2px 2px 2px;
}